.header_text {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 3.85px;
  text-transform: uppercase;
  color: #8b8b8b;
  font-weight: 400
}
.privacy_container {
  max-width: 1093px;
  background: rgba(242,242,242,.5);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 147px;
  margin-bottom: 162px;
  padding: 49px 146px 20px 49px
}
.privacy_container > h3 {
  color: #171717
}
.privacy_container > p {
  color: #878787
}
.privacy_container > h3,
.privacy_container > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 29px
}
.privacy_header {
  font-size: 52px;
  line-height: 61px;
  margin-top: 180px;
  font-weight: 400
}
@media screen and (max-width:767px) {
  .privacy_container {
    padding: 49px 20px
  }
}