.our_team_top {
    max-height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_team_top>p {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
}

.our_team_top>h2 {
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 52px;
    text-align: center;
}

.carousel_container {
    margin-top: 50px;
}

.team_member_about {
    color: #171717;
    width: 50% !important;
}

.team_member_name {
    font-size: 50px;
    font-weight: 600;
    color: #3a6351;
    text-align: center;
}

.team_member_job_title {
    font-size: 30px;
    font-weight: 400;
    color: #5e5e5e;
}

.team_member_education {
    color: #aaa;
    font-size: 14px;
    max-width: 300px;
    text-align: center;
}

.team_member_img_container {
    height: 500px;
    width: 50%;
}

.team_member_img {
    height: 100%;
}

.thumbs_container {
    position: relative;
    padding: 15px 0px 20px;
}

.thumbs_blured_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(360, 100%, 100%, 0.43);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: -1;
}

.team_member_thumb_section {
    width: 200px;
    position: relative;
    z-index: 999;
}

.team_member_thumb_img_container {
    height: 100px;
    width: 100px;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px #171717;
    margin-top: 5px;
}

.team_member_thumb_img {
    max-width: 100%;
}

.team_member_thumb_name {
    font-size: 16px;
}

.team_member_thumb_job_title {
    font-size: 12px;
}

@media (min-width:767px) and (max-width: 880px) {
    .team_member_img_container {
        height: 400px;
    }

    .team_member_about .team_member_name {
        font-size: 40px;
    }

    .team_member_job_title {
        font-size: 24px;
    }

    .team_member_education {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .our_team_top>p {
        font-size: 7px;
    }

    .our_team_top>h2 {
        font-size: 22px;
    }

    .team_member_img {
        width: 100% !important;
    }

    .team_member_img_container {
        height: auto;
    }

    .team_member_about {
        margin: 0px;
    }

    .team_member_name {
        font-size: 20px;
    }

    .team_member_job_title {
        font-size: 14px;
    }

    .team_member_education {
        font-size: 10px;
    }

    .team_member_thumb_img_container {
        height: 50px;
        width: 50px;
    }

    .team_member_thumb_name {
        font-size: 8px;
    }

    .team_member_thumb_job_title {
        font-size: 6px;
    }
}