.speed_dials {
    width:56px;
    height:56px;
    background: linear-gradient(135deg,#171717 0,#485563 100%);
    color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 70px;
}

.speed_dials > .plus_icon {
    font-size: 25px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.speed_dials:hover > .plus_icon {
    -webkit-transform:rotate(45deg) ;
    -moz-transform:rotate(45deg) ;
    -ms-transform:rotate(45deg) ;
    -o-transform:rotate(45deg) ;
     transform:rotate(45deg) ;
}