.chat_box {
  width: 182px;
  height: 40px;
  border: 1px solid #878787;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_box_span {
  font-size: 18px;
  line-height: 27px;
  color: #2b2b2b;
  font-weight: 300
}



.chat_app_container {
    width:454px;
    height:503px;  
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
}

.container_upper {
   height: 40px;
   border-bottom: 1px solid #D6D6D6;
   padding-left: 23px;
   padding-right: 23px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.message_box {
  padding:27px 23px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.message_hello {
  width:100%;
  height:40px;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 40px;
  display: flex;
  align-items: center;
 
}

.message_hello > p {
  line-height: 15px;
  text-align: center;
  color: #878787;
  font-size: 12px;
}


.controllers {
  display:flex;
}


.controllers > img {
  align-self: center;
}


.controllers > input {
  width: 268px;
  border-bottom: 1px solid #D6D6D6;
  align-self: flex-end;
  padding-left: 13px;
  padding-bottom: 4px;
  margin-left: 7px;
}


.controllers > input::placeholder {
  line-height: 26px;
  color: #878787;
  font-size: 15px;
}

.controllers > button {
  width: 110px;
  height: 40px;
  background: #171717;
  line-height: 25px;
  color: #FFFFFF;
  font-size: 14px;
  align-self: flex-end;
  margin-left: 8px;
}