.back_to_top {
    text-decoration: none;
    color: white;
    position: fixed;
    bottom:20px;
    right:20px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #0275d8;
    font-size: 1rem;
    line-height: 1.5;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.back_to_top:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: white;
}