.background_image {
  background-image: url(./assets/img/careetheader.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}
.career_main {
  padding: 170px 162px
}
.bg_container {
  background-image: url(./assets/img/career-bg.png);
  height: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
strong {
  font-weight: 400!important
}
.bg_container h3,
.bg_container h4 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400!important
}
.bg_container h3 {
  color: #878787
}
.bg_container h4 {
  color: #171717
}
.bg_container:first-child {
  margin-bottom: 162px
}
.bg_container,
.img_w_ceo_100 {
  width: 100%
}
.career_quotes {
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: justify
}
section._ready {
  margin-bottom: 161px;
  width: 100%
}
.content_img,
.content_text {
  height: 611px;
  width: 50%
}
.content_text {
  background: #f5f5f3;
  padding-left: 101px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end
}
.content_img {
  background: url(./assets/img/career_join.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.career_span {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 3.85px;
  text-transform: uppercase;
  color: #8b8b8b;
  display: inline-block;
  margin-bottom: 5px
}
.join_title {
  font-size: 36px;
  line-height: 44px;
  color: #171717;
  margin-bottom: 48px;
  font-weight: 400
}
.vacantion {
  height: 1084px;
  background-image: url(./assets/img/careeer_vacation.png);
  background-position: center;
  background-size: cover;
  padding-top: 130px
}
section.vacantion span {
  display: block;
  text-align: center;
  position: relative
}
section.vacantion > h4 {
  height: 52px;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #171717;
  margin-bottom: 116px
}
.join_vacation {
  max-width: 1026px;
  height: 253px;
  border: 1px solid rgba(43,43,43,.25);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  border-radius: 4px;
  position: relative;
  padding: 38px 55px
}
.join_vacation button {
  position: absolute!important;
  right: 55px!important;
  top: 93px!important;
  width: 156px!important;
  height: 67px!important;
  background-color: #171717;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400
}
.join_vacation > h2 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #171717
}
.join_vacation > p {
  font-size: 18px;
  line-height: 27px;
  color: #878787;
  width: 73%
}
.join_vacation strong {
  color: #171717
}
.join_vacation:last-child {
  margin-top: 20px
}
.join_vacation > button > img {
  margin-left: 5.5px
}
.vacancy_section_main_container {
  margin-bottom: 162px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1093px;
  margin-top: 180px
}
.vacancy_container {
  width: 100%;
  background: rgba(242,242,242,.5);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  padding: 49px 146px 20px 49px;
  margin-top: 147px
}
.vacancy_header {
  font-size: 52px;
  line-height: 61px;
  font-weight: 400
}
.modal_input {
  margin-bottom: 5px
}
.modal_input,
.modal_text_area {
  height: 67px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 0!important;
  padding-left: 14.06px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: rgba(43,43,43,.25);
  background: 0 0;
  border: 1px solid rgba(43,43,43,.25);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
  border-radius: 4px
}
.modal_text_area {
  height: 253px;
  margin-bottom: 35px;
  padding-top: 14.06px
}
.modal_text_area ~ button {
  width: 156px;
  height: 67px;
  background-color: #171717;
  color: #fff;
  font-size: 14px;
  line-height: 25px
}
.vacancy_container > h3 {
  color: #171717
}
.vacancy_container > p,
.vacancy_container > ul > li {
  color: #878787
}
.vacancy_container > h3,
.vacancy_container > p,
.vacancy_container > ul {
  margin-bottom: 29px
}
.vacancy_container > h3,
.vacancy_container > p,
.vacancy_container > ul > li {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px
}
@media screen and (max-width:600px) {

  .join_vacation {
    height: 350px
  }
  .join_vacation p {
    width: 100%
  }

  .join_vacation button {
    position:static!important;
  }

    .join_vacation {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  }
@media screen and (max-width:767px) {

  .join_vacation button {
    position:static!important;
  }

    .join_vacation {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .vacancy_container {
    padding: 49px 20px
  }
}
@media screen and (max-width:940px) {
  .join_title{
    font-size: 24px!important;
    line-height: 26px!important;
  } 
  .bg_container {
    height: 200px;
    padding-left:10px;
    padding-right:10px;
  }
  .career_main {
    padding: 170px 20px
  }
  .vacantion h4{
    font-size: 30px!important;
  }
  .join_vacation h2{
    font-size: 26px!important;
  }
  .bg_container h3,
  .bg_container h4 {
    font-size: 1rem;
    line-height: 22px
  }
  .content_img,
  .content_text {
    width: 100%;
  }

  .content_text {
    padding-left:10px;
  }
  

  .join_vacation > p {
    font-size: 14px;
    width: 100%
  }
  .join_vacation > h2 {
    margin-bottom: 15px
  }
}