

.main_container_team {
    height:100vh;
    /* background-color: #EEF7F7; */
}


.our_team__top {
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_team__top > p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
}

.our_team__top > h2{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 52px;
    text-align: center;
}

.main_container_team_top{
    height: calc(100vh - 395px);
    margin-left: auto;
    margin-right: auto;
}

.img_item {
    width: calc(100% - 320px);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}



.img_item_content{
    width: 60%;
    height: 100%;

}


.position_protecter {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 74px;
}


.position_protecter > h2 {
    font-weight: 300;
    font-size: 60px;
    color: #171717;
} 

.position_protecter > h3 {
    font-weight: 300;
    font-size: 25px;
    color: #aaa;
    
} 

.position_protecter > p {
    font-style: italic;
    width: 350px;
    margin-top: 20px;
    color: #5e5e5e;
}

.img_item_img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 37px;
}


.main_container_team_bottom{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.rounded_image_container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.image_item_container {
    display: flex;
    justify-content: center;
}



.thumb_item_name{

    font-size: 19px;
    font-weight: 500;
    color: #171717;
    text-align: center;

}
.thumb_item_position{

    font-size: 14px;
    font-style: italic;
    color: #5e5e5e;
    text-align: center;

}


.default_button_margin {
    margin-left: 6px;
    margin-top: 41px;

}


@media screen and (max-width:767px) {

.our_team__top > p {
    font-size: 16px;
    line-height: 16px;
}

.our_team__top > h2{
    font-size: 24px;
    line-height: 26px;

}

.main_container_team_top{
    height: 300px;
    width: 100%;
  
}

.img_item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
  
}

.img_item_img > img {
    width: 100%;
    /* background-color: green; */
}

.position_protecter {
    padding-top: 37px;
    /* background-color: red; */
    width: 100%;
    padding-left: 20px;

}
.img_item_content{
    width: 65%;
    height: 100%;
    /* background-color: black; */

}



.position_protecter > h2 {
    font-weight: 300;
    font-size: 14px;
    color: #171717;
    line-height: 16px;

} 

.position_protecter > h3 {
    font-weight: 300;
    font-size: 16px;
    color: #aaa;
    line-height: 16px;
    
} 

.position_protecter > p {
    font-style: italic;
    color: #5e5e5e;
    max-width: 100%;
    font-size: 12px;
    margin-top: 0px;
}


.main_container_team_bottom {
    height: auto;
    padding: 10px;

}


.rounded_image_container {
    width: 100px;
    height: 100px;
}

.mb_styles_ul {
    width: max-content;
    padding: 0 10px;
}

}