@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  border: none;
  outline: 0;
  margin: 0;
  padding: 0
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #171717
}

::-webkit-scrollbar-thumb {
  background-color: #171717;

  -webkit-border-radius: 202px;
  -moz-border-radius: 202px;
  -ms-border-radius: 202px;
  -o-border-radius: 202px;
  border-radius: 202px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3a6351
}

.opacity-zero {
  opacity: 0
}

.opacity-one {
  opacity: 1
}

ul:not(ul.non-cleared) {
  list-style-type: none
}

ul.non-cleared {
  list-style-type: disc !important
}

:root {
  --font-normal: 400;
  --color-white: #fff;
  --color-dark: #171717;
  --border-color-white: rgba(255, 255, 255, 0.4);
  --border-color-dark: rgba(23, 23, 23, 0.4)
}

html {
  -webkit-scroll-behaviour: smooth;
  -moz-scroll-behaviour: smooth;
  -ms-scroll-behaviour: smooth;
  o-scroll-behaviour: smooth;
  scroll-behavior: smooth;
  overflow-x: hidden
}

body {
  overflow-x: hidden;
  background-image: url("./features/components/common/assets/png/cool-background.png")
}

button {
  cursor: pointer
}

.chat-box-container-keeper {
  position: fixed;
  top: calc(100vh - 652px);
  right: 0;
  width: auto;
  z-index: 100000000
}

.block-center {
  margin-left: auto;
  margin-right: auto
}

.d-flex {
  display: flex
}

.direction-column {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-around {
  justify-content: space-around
}

.justify-between {
  justify-content: space-between
}

.align-center {
  align-items: center
}

.align-end {
  align-items: flex-end
}

.text-decoration-none {
  text-decoration: none
}

.normalize-padding {
  padding-left: 70px;
  padding-right: 70px
}

.text-center {
  text-align: center
}

.text-white {
  color: var(--color-white)
}

.text-dark {
  color: #171717
}

.text-upper {
  text-transform: uppercase
}

.bg-white {
  background-color: var(--color-white)
}

.bg-dark {
  background-color: var(--color-dark)
}

.display_none {
  display: none
}

.absolute {
  position: absolute
}

.z-index-100 {
  z-index: 100
}

.relative {
  position: relative
}

.pointer {
  cursor: pointer
}

.visible_visible {
  visibility: visible
}

.visible_hidden {
  visibility: hidden
}

[class*=nav-header-] {
  height: 41px
}

.mt-15 {
  margin-top: 15px
}

.nav-header-border-white {
  border-bottom: 1px solid var(--border-color-white)
}

.nav-header-text-white {
  color: var(--color-white)
}

.nav-header-border-dark {
  color: var(--color-dark);
  border-bottom: 1px solid var(--border-color-dark)
}

.nav-header-text-dark {
  color: var(--color-dark)
}

.nav-header-links {
  font-size: 12px;
  line-height: 12px
}

.nav-link-padding-left {
  padding-left: 28.5px
}

.nav-link-padding-right {
  padding-right: 28.5px
}

.nav-icon-margin-right {
  margin-right: 10px
}

.navigation-height {
  height: 64px
}

.header-height {
  height: calc(801px - 105px)
}

.businesPlan-images {
  padding: 0 20px
}

[class*=button-detailed] {
  width: 156px;
  height: 45px;
  font-weight: var(--font-normal);
  font-size: 14px;
  line-height: 25px
}

.button-detailed-white {
  background-color: var(--color-white);
  color: var(--color-dark)
}

.button-detailed-dark {
  background-color: var(--color-dark);
  color: var(--color-white)
}

.button-detailed-transparent {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent
}

.w-hamburger-container {
  width: 42px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in
}

.w-hamburger-container>div {
  width: 30px;
  height: 1px
}

.w-hamburger-container>div:nth-child(odd) {
  position: relative;
  left: 12px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in
}

.w-hamburger-container:hover>div:nth-child(odd) {
  left: 0;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in
}

.w-hamburger-container>div:nth-child(even) {
  position: relative;
  left: 0;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in
}

.w-hamburger-container:hover>div:nth-child(even) {
  left: 12px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in
}

.hoverable {
  position: absolute;
  display: none;
  background-color: #171717;
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin: 0;
  padding: 23px 31px;
  min-width: 296px;
  left: 0
}

.link-hover:hover .hoverable {
  display: flex;
  flex-direction: column
}

.article-header-height {
  height: 189px;
  background-image: url(./features/components/articles/assets/img/article-header.png)
}

.article-container {
  width: 1100px;
  margin: 0 auto;
  position: relative
}

.article-content-container {
  width: 806px
}

.slider-visible {
  right: 0 !important
}

.slider-hidden {
  right: -675px !important
}

.slider {
  height: 100vh;
  width: 675px;
  position: fixed;
  padding: 126px 110px 75px 60px;
  top: 0;
  right: -675px;
  z-index: 99;
  background-color: #212121;
  -webkit-transition: right .3s ease;
  -moz-transition: right .3s ease;
  -ms-transition: right .3s ease;
  -o-transition: right .3s ease;
  transition: right .3s ease
}

.qodef-valiance-svg-close {
  stroke: none;
  fill: currentColor;
  vertical-align: middle;
  width: 21.92px;
  height: 27.92px;
  z-index: 200
}

.rounded {
  width: 50px;
  height: 50px;
  background: 0 0;
  border: 1px solid rgba(255, 255, 255, .4);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%
}

.animated-css-able-1 {
  top: calc((100% - 8px)/ 2) !important;
  position: absolute;
  opacity: 1;
  left: -8px;
  animation-name: arrow-animation-1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-delay: 0s
}

.animated-css-able-2 {
  top: calc((100% - 8px)/ 2) !important;
  position: absolute;
  left: -60px;
  opacity: 0;
  animation-name: arrow-animation-2;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-delay: 0s
}

.opacity-0,
.opacity-1 {
  top: calc((100% - 8px)/ 2) !important;
  position: absolute
}

.opacity-0 {
  left: -60px;
  opacity: 0
}

.opacity-1 {
  opacity: 1;
  left: -8px
}

.modal_slider {
  top: 0
}

.emoji-mart {
  overflow: hidden;
  width: 290px !important;
  border: none
}

.emoji-mart-scroll {
  margin-top: 5px;
  width: 290px !important
}

.margin-bottom-32 {
  margin-bottom: 32px
}

.send-button {
  width: 56px;
  height: 56px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  z-index: 100;
  position: absolute;
  bottom: 70px;
  right: -15px;
  background: linear-gradient(135deg, #171717, #485563);
  box-shadow: rgb(41 50 60 / 50%) 0 4px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in
}

.send-button>* {
  width: 32px;
  height: 32px;
  color: #ccc
}

.send-button:hover>* {
  color: #0275d8;
  transform: scale(1.2);
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in
}

.send-button:hover {
  background: #fff !important;
  transform: scale(1.1);
  box-shadow: rgba(2, 117%, 216%, 50%) 0 4px 24px
}

.emoji-mart .emoji-mart-emoji {
  padding: 5px !important
}

@keyframes arrow-animation-1 {
  0% {
    opacity: 1;
    left: -8px
  }

  50% {
    opacity: .66;
    left: 9px
  }

  75% {
    opacity: .33;
    left: 26px
  }

  100% {
    opacity: 0;
    left: 43px
  }
}

@keyframes arrow-animation-2 {
  0% {
    opacity: 0;
    left: -60px
  }

  50% {
    opacity: .33;
    left: -43px
  }

  75% {
    opacity: .66;
    left: -26px
  }

  100% {
    opacity: 1;
    left: -8px
  }
}

.line_home_divider {
  display: block !important
}

.header-img-industry {
  width: calc(100% - 340px) !important
}

.team-container {
  padding-top: 153px;
  margin-bottom: 53px
}

.container-team-data {
  width: max-content;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow-x: hidden;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto
}

.container-team-data>div {
  box-shadow: 0 4px 4px rgba(135, 135, 135, .2);
  border-radius: 4px;
  overflow-x: hidden;
  margin: 10px
}

.container-team-data:hover {
  -webkit-transform: scale(1.041);
  -moz-transform: scale(1.041);
  -ms-transform: scale(1.041);
  -o-transform: scale(1.041);
  transform: scale(1.041)
}

.container-testimonials-data {
  width: max-content;
  margin-left: auto;
  margin-right: auto
}

.img-section-team-data {
  font-size: 16px;
  font-weight: 400;
  height: 306px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 306px;
  color: #444 !important;
  position: relative
}

.container-team-data:hover .social-section-team-data {
  right: 20px;
  opacity: 1;
  transition: .5s
}

.social-section-team-data {
  position: absolute;
  top: 30px;
  right: -100px;
  padding: 12px 8px;
  opacity: 0;
  border-radius: 4px;
  transition: .5s;
  z-index: 2;
  background: rgba(255, 255, 255, .3)
}

.svg-section-team-data {
  height: 24px;
  position: relative;
  bottom: 40px
}

.content-section-team-data {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 215px;
  line-height: 24px;
  margin: 0;
  padding: 34px 15px 20px;
  width: 306px;
  color: #444 !important;
  background-color: #fff
}

.content-section-team-data>h4 {
  font-weight: 700;
  font-size: 20px;
  color: #3a6351;
  line-height: 24px;
  text-align: center;
  margin-bottom: 5px
}

.content-section-team-data>span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  text-align: center;
  line-height: 21px
}

.content-section-team-data>p {
  font-style: italic;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
  font-size: 14px;
  margin-bottom: 1rem;
  text-align: center
}

.alice-carousel {
  margin-left: auto;
  margin-right: auto
}

.team_carousel>.alice-carousel {
  margin: 0 !important
}

.thumbs .alice-carousel__stage {
  display: flex;
  justify-content: space-around
}

.main {
  max-width: 425px;
  height: 652px;
  box-shadow: rgb(0 18 46 / 16%) 0 8px 36px 0;
  pointer-events: auto;
  position: relative;
  margin-right: 20px;
  margin-left: 20px
}

.chat-header {
  color: #fff;
  background: linear-gradient(135deg, #171717 0, #485563 100%);
  padding: 24px 28px;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px
}

.betweener {
  height: 80px;
  background: linear-gradient(45deg, #171717 0, #485563 100%);
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  display: flex;
  align-items: center
}

.profile-container {
  display: flex;
  align-items: center
}

.profile {
  width: 52px;
  height: 52px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-image: url("./features/toolbox/chat/assets/profile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.profile-container>h2 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 8px
}

.icon-font-size-lg {
  font-size: 36px
}

.betweener>p {
  color: #fff
}

.conversation-group {
  height: 330px;
  padding: 0 28px 24px 28px;
  position: relative;
  background-image: url("./features/components/common/assets/png/cool-background.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.conversation-group>img {
  position: absolute;
  left: 0;
  top: -8px;
  z-index: 20
}

.message-operator {
  background: #f0f2f7
}

.message-user {
  background-color: #78797b
}

.message-operator,
.message-user {
  padding: 10px 16px;
  position: relative;
  z-index: 30;
  color: #06132b;
  border-radius: 20px;
  margin: 10px 0 2px 0;
  font-size: 15px;
  line-height: 20px;
  overflow-wrap: break-word;
  display: inline-block;

  -webkit-transition: margin .28s ease-in-out 0s;
  -moz-transition: margin .28s ease-in-out 0s;
  -ms-transition: margin .28s ease-in-out 0s;
  -o-transition: margin .28s ease-in-out 0s;
  transition: margin .28s ease-in-out 0s;
}

.input-group {
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fff;
  position: relative;
  background-image: url("./features/components/common/assets/png/cool-background.png")
}

.input-group>hr {
  margin: 0;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dbdfe6
}

.input-group>form>textarea {
  border: 0;
  width: 100%;
  height: 140px;
  font-size: 17px;
  padding: 10px 0 14px;
  resize: none;
  line-height: 24px;
  overflow-x: hidden;
  color: #171717;
  background: url("./features/components/common/assets/png/cool-background.png")
}

.text-area-placeholder-changer::placeholder,
input.text-area-placeholder-changer::placeholder {
  color: #d9534f !important
}

.input-group img {
  bottom: 80px;
  left: 80px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: .28s ease-in-out;
  -ms-transition: .28s ease-in-out;
  -o-transition: .28s ease-in-out;
  -webkit-transition: .28s ease-in-out;
  transition: .28s ease-in-out;
  position: relative
}

.input-group img:hover {
  box-shadow: 0 0 0 .2rem rgba(2, 117, 216, .25);
  -webkit-transition: .28s ease-in-out;
  -moz-transition: .28s ease-in-out;
  -ms-transition: .28s ease-in-out;
  -o-transition: .28s ease-in-out;
  transition: .28s ease-in-out;
  background-color: rgba(2, 117, 216, .25)
}

.galler-container {
  margin-top: 100px;
}


@media screen and (max-width:1024px) {

  .mobile-display-none {
    display: none !important
  }

  .slider-mb {
    width: 100%;
    padding: 50px 0 55px;
    right: -100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .display-mb-block {
    display: block
  }

}



@media screen and (max-width:767px) {

  .team-container {
    padding-top: 23px;
    margin-bottom: 23px
  }


  .team-responsive .alice-carousel__stage-item {
    width: max-content !important;
  }

  .navigation-container {
    flex-direction: column
  }

  .line_home_divider {
    display: inline-block !important
  }

  .main {
    width: 100%;
    height: 100vh;
    margin-right: 0;
    margin-left: 0
  }

  .chat-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .conversation-group {
    height: calc(100vh - 366px)
  }

  .send-button {
    right: 28px
  }

  .chat-box-container-keeper {
    top: -1px;
    width: 100%
  }

  .mobile-display-block {
    display: block
  }



  .sm-mb-4-padding {
    padding: 6px
  }

  .mobile-padding {
    padding-left: 10px;
    padding-right: 10px
  }

  .mobile-md-padding {
    padding-left: 14px;
    padding-right: 14px
  }

  .mb-top-padding {
    padding-top: 40px
  }

  .mb-padding-right-home {
    padding-right: 20px
  }

  .display-mb-flex {
    display: flex
  }

  .flex-mb-column {
    flex-direction: column
  }

  .justify-mb-center {
    justify-content: center
  }

  .justify-mb-end {
    justify-content: flex-end
  }

  .mb-align-center {
    align-items: center
  }

  .slider-mb-visible {
    right: 0 !important
  }

  .slider-mb-hidden {
    right: -100% !important
  }



  .mb-list-item {
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 20px
  }

  .mb-none {
    height: 0;
    overflow-y: hidden;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease
  }

  .mb-list-item:hover>.mb-none {
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: rgba(23, 23, 23, .5);
    height: 410px;
    overflow-y: hidden
  }

  .mb-link-none {
    text-decoration: none;
    color: #fff;
    margin-top: 5px
  }

  .mobile-rounded-mb-bottom-0 {
    bottom: 0
  }

  .mb-slide-button {
    position: absolute;
    right: 20px;
    bottom: 70px
  }

  .mt-mb-2 {
    margin-top: 20px
  }

  .mb-slider-footer-text {
    position: relative;
    top: 20px
  }

  .mb-w-25 {
    width: 25%
  }

  .size-font-mb-h2 {
    font-size: 25px !important;
    line-height: 40px !important
  }

  .size-font-mb-p {
    font-size: 16px !important
  }

  .size-font-mb-span {
    margin-right: 14px
  }

  .mb-text-justify {
    text-align: justify
  }

  .hoverable-span {
    -webkit-transition: all .8 ease !important;
    -moz-transition: all .8 ease !important;
    -ms-transition: all .8 ease !important;
    -o-transition: all .8 ease !important;
    transition: all .8 ease !important;
    display: inline-block
  }

  .hoverable-span:hover {
    background-color: #171717;
    color: #fff;
    -webkit-transition: all .2 ease !important;
    -moz-transition: all .2 ease !important;
    -ms-transition: all .2 ease !important;
    -o-transition: all .2 ease !important;
    transition: all .2 ease !important
  }

  .w-mb-100 {
    width: 100%
  }

  .mb-align-start {
    align-items: flex-start
  }

  .mb-self-end {
    align-self: flex-end
  }

  .mb-self-center {
    align-self: center
  }

  .mb-mt-40 {
    margin-top: 40px !important
  }



  .mb-mb-20 {
    margin-bottom: 20px
  }

  .mb-mb-10 {
    margin-bottom: 10px
  }

  .mb-mb-5 {
    margin-bottom: 5px;
  }
}